    
    h4 {
        text-align: center;
    }

    .tab-pane {
        width:80%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .input-group {
        margin-bottom: 20px;
    }

    .panelContent {
        width: 80%; 
        text-align: center; 
        vertical-align: middle;
        display:block;
        margin: 40px auto;
    }

    #tabGetMoney {
        width: 80%; 
        text-align: center; 
        vertical-align: middle;
        margin: 10% auto;
    }

    img{
        border:0;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .modal-content {
         text-align: center;
    }

    #logindiv {
        display: block;
        margin-right: auto;
        margin-left:auto;
    }

    #status {
        display: block;
        margin-right: auto;
        margin-left:auto;
    }

    #wallet {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10%;
        width: 80%;
        height: 80%;
    }

    #record {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10%;
        width: 80%;
        height: 80%;
    }

    #tabBar {
        display: none;
    }

    #picdiv {
        display: none;
    }

    .list-group {
        margin-top: 3%;
    }

    input:focus{
        outline: none;
    }
    
    #userpic {
        width: 120px;
        height: 120px;
        margin-top: 20px;
    }

    .multiselect-container>li>a>label {
        padding: 4px 20px 3px 20px;
    }

    @media only screen and (max-width: 768px) {
         /*For mobile phones: */

        #userpic {
            width: 60px;
            height: 60px;
            margin-top: 10px;
        }

        #demo {
            margin-top: 20px;
            padding: 0px;
        }

        li a {
            font-size: 14px;
        }

        #wallet {
            width: 100%;
            height: 100%;
        }

        #record {
            width: 100%;
            height: 100%;
        }

        body.modal-open {
            width:100%!important;
            padding-right:0!important;
            overflow-y:scroll!important;
            position:fixed!important;
        }

    }

    @media (min-width: 992px) {
         /*For Desktop:*/ 

        #demo {
            margin-top: 30px;
        }
    }
